.feature__with_media{
	.feature__content{
		h5{
			text-transform: uppercase;
		    font-weight: 700;
		    font-size: modular-scale(0);
		    margin-top: 20px;
		    margin-bottom: 10px;
		}
	}

	@include mq($until: tablet) {
        margin-bottom: ($spacer / 1.5);
    }
}