//
// Spacer for serctions and other spacing. Default base
//
$spacer: 100px !default;



//
// Responsive breakpoints
//
$mq-responsive: true;
$mq-breakpoints: (
    mobile:  544px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px
);



//
// Button colors
//
$btn-primary-bg	:	#0275d8 !default;
$btn-info-bg	:	#5cb85c !default; 
$btn-success-bg	:	#5bc0de !default;
$btn-warning-bg	:	#f0ad4e !default;
$btn-danger-bg	:	#d9534f !default;