$modular-scale-ratio: 1.414 !default;
$modular-scale-base: 1rem !default;

$heading-font: 'Raleway', sans-serif !default;
$content-font:  'Droid Serif', serif !default;



html {font-size: 16px;}

body {
  line-height: 1.45;
  font-family: $content-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4c4c4c; //sould be dynamic
}

h1, h2, h3, h4, h5, h6{
  color: #000000;
}

h1 {
  font-size: modular-scale(5);
  font-family: $heading-font;
}

h2 {
	font-size: modular-scale(4);
	font-family: $heading-font;
}

h3 {
	font-size: modular-scale(3);
	font-family: $heading-font;
}

h4 {
	font-size: modular-scale(2);
	font-family: $heading-font;
}

h5 {
	font-size: modular-scale(1);
	font-family: $heading-font;
}

p {
  font-size: modular-scale(0);
  &.lead{
    font-size: modular-scale(1);
  }
}

h6 {
  font-size: modular-scale(-1);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: $heading-font;
  font-weight: 700;
}

small{font-size: modular-scale(-1);}