@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,700");
@import "bourbon";

 @include placeholder {
    color: #fff !important;
  }

a:hover {
    color: #00c8aa;
    text-decoration: none;
    outline: none;
}
a {
    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    color: #FFFEBF;
}



body {
  color: #232323;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 15pt;
  line-height: 1.25;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #image-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

body #video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

section ul li {
  display: inline-block;
  width: 13rem;
}

.timenumbers {
  display: block;
  font-size: 38px;
  font-weight: 300;
  line-height: 4.5rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.main{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p.timedescription {
  font-size: 16px;
  font-variant: normal;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.counter {
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
}

p {
  color: #E6DBAE;
  font-size: 21px;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: none;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 67px;
}

a.notify-me {
  color: #fff;
  padding: 7.5px 20px;
  font-size: 12px;
  font-weight: 500;
  background-color: #0fe0ba;
  border-radius: 0;
}

input.form-control.notify-me {
    background: transparent;
    color: #fff;
    border-radius: 0;
}

.subscribe p {
  letter-spacing: 0rem;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.subscribe {
  padding-top: 60px;
  padding-bottom: 20px;
}

.subscribe-box {
  padding-top: 5px;
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    box-shadow: none;
  }
.footer {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  letter-spacing: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d2437;
  opacity: .4;
}

.bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
}

.content-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
}

#slideshow img  {
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity:0;
  transition-property: opacity, transform;
  transition-duration: 3s, 8s;
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

/**
 * We change the point of origin using four corners so images do not move in the same direction. 
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

#slideshow img  {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}

#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}

#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}

/**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one. 
 * The rule below moves all images past the second one down the stack. 
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

#slideshow .fx:first-child + img ~ img  {
    z-index:-1;
}

/**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

#slideshow .fx {
  opacity:1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.index-design {
  border: 2px solid #333;
  /*padding: 10px;*/
  margin-bottom: 30px;
}

.index-design:hover {
  border: 5px solid #333;
  border-bottom: 2px solid #333;
  /*padding: 10px;*/
  margin-bottom: 30px;
}

.index img{
  height: 100%;
  width: 100%;
  border: 10px solid #333;
}

.main-index{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  background-color: #d4f1d8;
}

.main-index h1 {
  margin-bottom: 50px;
  margin-top: 5px;
  color: #333;
  font-family: 'Quicksand', sans-serif;
  display: block;
  /*font-size: 3.3rem;*/
  font-weight: bolder;
  text-align: center;
}

.index-design h4 {
  background-color: #333; 
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

.copyright-text {
  color: #333;
  letter-spacing: 0;
  font-size: 10px;
  text-transform: none;
}

a.a {
  color: #999999;
}

a.a:hover {
    color: #00c8aa;
    text-decoration: none;
    outline: none;
}

.slide1 {
    background: url(../images/slide1.jpg);  
}
.slide2 {
    background: url(../images/slide2.jpg);
}
.slide3 {
    background: url(../images/slide3.jpg);
}

.bg {
  position:absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity:1;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
}

.top-part {
    padding: 150px 0;
    /*margin-top: 50px;*/
    background: #f2f3f7;
    background: url(../images/header_bg.jpg) top;
    background-size: cover;
  }
.top-part p {
  color: #cbcbcb;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: none;
  }


.top-part  h1 {
  font-size: 67px;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 25px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}

.top-part h2 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 7px;
  color: #f2f3f7;
}
.alert-banner {
    background: #2D3037;
    padding: 15px 0;
  }

.alert-banner p {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: 16px;
  text-transform: none;
}
.variant-part {
  padding: 100px 0;
  background: #FFFFFF;
}
.variant-part h2 {
  color: #999999;
  margin-bottom: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
}
.variant-part h3 {
  color: #666666;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 15px auto 80px;
  text-transform: uppercase;
}

.variant-part .variant {
  margin-bottom: 30px;
}

.variant-part .variant a img {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.variant-part .variant a:hover img {
  opacity: 0.8;
}

.variant-part .variant h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px; }

.label-success {
  //  background: #f7ff1d;
  //  color: #000;
  //  padding: 3px 4px;
      border-radius: 5px;
      padding: 3px 5px 3px;
}

footer {
  background: #2D3037;
  padding: 50px 0;
}

footer span.copyright {
  color: #999999;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 19px;
  font-weight: 400;
}

footer span.copyright a:active, footer span.copyright a:focus {
  color: #FFFFFF;
}

