@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

a:hover {
  text-decoration: none;
}

body #image-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

body #video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

section ul li {
  display: inline-block;
  width: 17rem;
}

.timenumbers {
  display: block;
  font-size: 3.3rem;
  font-weight: bolder;
  line-height: 4.5rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.main{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p.timedescription {
  font-size: 1.5rem;
  font-variant: normal;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
  font-weight: bolder;
  letter-spacing: 0px;
}

.counter {
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
}

p {
  color: #E6DBAE;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
}

a.notify-me {
  color: #333;
  padding: 9px 15px;
  font-size: 10px;
  font-weight: bolder;
}

.subscribe p {
  letter-spacing: 0rem;
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
}

.subscribe {
  padding-top: 50px;
  padding-bottom: 20px;
}

.subscribe-box {
  padding-top: 5px;
}

.footer {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  letter-spacing: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d2437;
  opacity: .4;
}

.bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
}

.content-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
}

#slideshow img  {
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity:0;
  transition-property: opacity, transform;
  transition-duration: 3s, 8s;
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

/**
 * We change the point of origin using four corners so images do not move in the same direction. 
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

#slideshow img  {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}

#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}

#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}

/**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one. 
 * The rule below moves all images past the second one down the stack. 
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

#slideshow .fx:first-child + img ~ img  {
    z-index:-1;
}

/**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

#slideshow .fx {
  opacity:1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.index-design {
  border: 2px solid #333;
  /*padding: 10px;*/
  margin-bottom: 30px;
}

.index-design:hover {
  border: 5px solid #333;
  border-bottom: 2px solid #333;
  /*padding: 10px;*/
  margin-bottom: 30px;
}

.index img{
  height: 100%;
  width: 100%;
  border: 10px solid #333;
}

.main-index{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  background-color: #d4f1d8;
}

.main-index h1 {
  margin-bottom: 50px;
  margin-top: 5px;
  color: #333;
  font-family: 'Quicksand', sans-serif;
  display: block;
  /*font-size: 3.3rem;*/
  font-weight: bolder;
  text-align: center;
}

.index-design h4 {
  background-color: #333; 
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

.copyright-text {
  color: #333;
  letter-spacing: 0;
  font-size: 10px;
  text-transform: none;
}