


section.main
  .content
    .container-fluid
      .content2
        h1 SPROUT
        p WE ARE COMING SOON...
      .counter
        ul#countdown
          li
            span.days.timenumbers 01
            p.timeRefDays.timedescription days
          li
            span.hours.timenumbers 00
            p.timeRefHours.timedescription hours
          li
            span.minutes.timenumbers 00
            p.timeRefMinutes.timedescription minutes
          li
            span.seconds.timenumbers.yellow-text 00
            p.timeRefSeconds.timedescription seconds
      .subscribe
        p Join our mailing list and we will notify you once it is ready.
        .col-sm-4.col-sm-offset-4.input-group.subscribe-box
          input.form-control.notify-me(type='text', placeholder='email@example.com')
          span.input-group-btn
            a.btn.btn-default.notify-me(href='#', type='button') NOTIFY ME