extends ../zcore/pug_modules/skeleton.pug

block scripts

	script(src='assets/lib/owl.carousel/dist/owl.carousel.js')
	script(src='assets/lib/ajaxchimp/jquery.ajaxchimp.js')
	script(src='https://raw.githubusercontent.com/scdoshi/jquery-ajaxchimp/master/jquery.ajaxchimp.js')

block styles
	link(href='assets/lib/owl.carousel/dist/assets/owl.carousel.css', rel='stylesheet')