mixin nav__menuzord(content, settings)
	div.navbar__warapper.clearfix(class=settings.attrs.class)
		#menuzord.menuzord(class=settings.color)
			a.menuzord-brand(href='javascript:void(0)')!= content.brand
			ul.menuzord-menu(class='menuzord-'+settings.alignment)
				
				block

				li.scrollable-fix(style='height: 1px')