
//- Single column layout

//- @since version 0.4.0
//- 

//- supports 1 card

//- params:
//- 	cards 	: {}
//- 	settings	: {}



mixin onecol(cards, settings)
	+#{cards[0].name}(cards[0].content, cards[0].settings)