
//- Three column layout

//- @since version 0.4.0
//- 

//- supports 3 card

//- params:
//- 	cards 	: {}
//- 	settings	: {}

mixin threecol(cards, settings)
	div.row
		div.col-sm-4
			+#{cards[0].name}(cards[0].content, cards[0].settings)
		div.col-sm-4
			+#{cards[1].name}(cards[1].content, cards[1].settings)
		div.col-sm-4
			+#{cards[2].name}(cards[2].content, cards[2].settings)