
//- Two column layout

//- @since version 0.4.0
//- 

//- supports 2 card

//- params:
//- 	cards 	: {}
//- 	settings	: {}



mixin twocol(cards, settings)
	div.row
		div.col-sm-6
			+#{cards[0].name}(cards[0].content, cards[0].settings)
		div.col-sm-6
			+#{cards[1].name}(cards[1].content, cards[1].settings)