extends ../pug_modules/skeleton

block title
	title SPROUT - Preview page

block content
	section.top-part
		.container
			.row
				.col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
					h1 - SPROUT V2 -
					h2 Iconic Coming Soon Template
					p
						|	Get the full pack today for free!
	.alert-banner
		p
			|  Exclusively in ThemeWagon 
			a.btn.btn-success(href='https://themewagon.com/themes/best-elegant-coming-soon-bootstrap-template-free-download-2017/') Download Now
	section.variant-part
		.container
			.row
				.col-xs-12.col-sm-12.col-lg-12.text-intro
					h2 V2 = 4 Variants
					h3 Fully Responsive • 24/7 Support • Well documented
			.row
				.variant.col-xs-12.col-sm-6.col-lg-6
					a(href='image-background.html', target='_blank')
						img.img-responsive(src='assets/images/image-background.jpg', alt='')
						h3 01. Image-background / Countdown
				.variant.col-xs-12.col-sm-6.col-lg-6
					a(href='video-background.html', target='_blank')
						img.img-responsive(src='assets/images/video-background.jpg', alt='')
						h3 
							span.label.label-success NEW
							|	02. video-background / Countdown
			.row
				.variant.col-xs-12.col-sm-6.col-lg-6
					a(href='ken-burns-background.html', target='_blank')
						img.img-responsive(src='assets/images/ken-burns-background.jpg', alt='')
						h3 03. ken-burns-background / Countdown
				.variant.col-xs-12.col-sm-6.col-lg-6
					a(href='slider-background.html', target='_blank')
						img.img-responsive(src='assets/images/slider-background.jpg', alt='')
						h3 04. Slideshow-background / Countdown
	footer#footer
		span.copyright
			| Premium design by 
			a.website(href='https://themewagon.com/', target='_blank') ThemeWagon
			br
			a(href='https://www.facebook.com/themewagon', title='facebook Themewagon', target='_blank') Join us on Facebook
			|  & 
			a(href='https://twitter.com/themewagon', title='twitter themewagon', target='_blank') Follow us on Twitter
