extends ../pug_modules/skeleton

block content

	.content-wrapper
		#slideshow
			img(src='assets/images/slide1.jpg')
			img(src='assets/images/slide2.jpg')
			img(src='assets/images/slide3.jpg')

	include ../pug_modules/header