extends ../pug_modules/skeleton

block title
	title SPROUT

block content

	.content-wrapper
		#slideshow
			img(src='assets/images/2.jpg')
			img(src='assets/images/4.jpg')
			img(src='assets/images/6.jpg')

	include ../pug_modules/countdown