extends ../pug_modules/skeleton

block content

	section.header_slide
		.container-fluid
			.row
				#header_slide.owl-carousel
					.slide1.bg
					.slide2.bg
					.slide3.bg

	include ../pug_modules/countdown