mixin button(content, settings)
	a(href=content.link, title=content.title, class='btn '+settings.class) 
		if content.icon
			span(class=content.icon, aria-hidden="true") 
			| 
		!=content.title

mixin buttons(buttons)
	div.buttons
		each button in buttons
			+button(button.content, button.settings)